.imageSlider {
  display: flex;
  height: fit-content;
  min-width: 200%;
  margin-bottom: 1.2em;
}

.slider-track {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 2vw;
}
.slider-track > div {
  align-content: center;
  font-family: sans-serif;
  display: flex;
  font-size: 6em;
  text-align: center;
  width: 0.6em;
  aspect-ratio: 12 / 8;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1.5vw;
}
.slider-track > div > img {
  border-radius: inherit;
}

.slider-track > div:first-child {
  margin-left: 1.5%;
}

@media screen and (max-width: 703px) and (orientation: portrait) {
  .slider-track > div {
    aspect-ratio: 18 / 13;
  }
}
