.contentContainer.aboutUs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: (40vh, 65%, 60vh); */
  height: clamp(calc(2vh + 37vw), 65%, calc(40vh - 70vw));

  width: 100%;
}
.postTitle.aboutUs {
  font-size: clamp(1.7vw, 31px, 1vw);
  background: #afab9c;
  border-radius: 100px;
  padding: clamp(0.8vw, 15px, 0.3vw);
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  width: clamp(11vw, 207px, 12vw);
}
.heading.aboutUs {
  font-family: "TT Wellingtons Trl";
  font-size: clamp(4.5vw, 4.76rem, 1vw);
}
.paragraph.aboutUs {
  font-family: "Open Sauce Sans";
  font-size: clamp(2vw, 2.2rem, 1.4vw);
}
.btn-main.aboutUs {
  background-color: #443115;
  border-radius: 15px;
  z-index: 99;
  font-size: 28px;
  font-size: clamp(1vw, 28px, 1.7vw);
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  color: white;
  background: #443115;
  border-radius: 15px;
  border: none;
  width: clamp(0vw, 209.89px, 15vw);
  padding: clamp(0vw, 15px, 2vw);
  transition: background-color 0.5s;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-wrap: nowrap;
}
.btn-main.aboutUs:hover {
  background-color: #70562f;
}
.contentContainer.ourMission {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
}

.postTitle.ourMission {
  background: #d9d7c4;
  font-size: clamp(1vw, 31px, 1.7vw);
  width: auto;
  border-radius: clamp(calc(40px + 3%), calc(40px - 0%), calc(40px - 2%));
  padding-inline: 2%;
  padding-block: 1%;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  white-space: nowrap;
}
.heading.ourMission {
  font-size: clamp(1vw, 4.76rem, 4vw);
  font-family: "TT Wellingtons Trl";
  text-align: center;
}
.paragraph.ourMission {
  font-family: "Open Sauce Sans";
  font-size: clamp(1vw, 2.2rem, 2.2vw);
  text-align: center;
  width: 65%;
}
.contentContainer.ourValue {
  height: 40vh;

  display: flex;

  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  margin-bottom: 60px;
}

.postTitle.ourValue {
  background: #d9d7c4;
  font-size: clamp(1vw, 31px, 1.7vw);
  width: auto;
  border-radius: clamp(calc(40px + 3%), calc(40px - 0%), calc(40px - 2%));
  padding-inline: 2%;
  padding-block: 1%;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  white-space: nowrap;
}
.heading.ourValue {
  font-size: clamp(1vw, 4.76rem, 4vw);
  font-family: "TT Wellingtons Trl";
  text-align: center;
}
.paragraph.ourValue {
  font-family: "Open Sauce Sans";
  font-size: clamp(1vw, 2.2rem, 2.2vw);
  text-align: center;
  width: 65%;
}

.contentContainer.membership {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  width: 50%;
  margin-left: min(120px, 6vw);
  padding-block: calc(40vh - 18vw);
}
.postTitle.membership {
  background: rgba(0, 0, 0, 0.27);
  border-radius: 40px;
  font-size: clamp(1vw, 31px, 1.5vw);
  padding: clamp(0.8vw, 20px, 1.3vw);
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  color: #ffffff;
  font-weight: 400;
  width: clamp(1vw, 235px, 13vw);
}
.heading.membership {
  font-family: "TT Wellingtons Trl";
  color: white;

  font-size: clamp(1vw, 3.8rem, 3.5vw);
}
.paragraph.membership {
  color: white;
  font-family: "Open Sauce Sans";
  font-size: clamp(1vw, 2.2rem, 1.9vw);
}

.btn-main.membership {
  background-color: #b0afaa;
  border-radius: 15px;
  font-size: 28px;
  font-size: clamp(1vw, 28px, 1.7vw);
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  color: rgb(0, 0, 0);
  border-radius: min(15px, 1.2vw);
  border: none;
  width: clamp(0vw, 209.89px, 15vw);
  padding: min(18px, 1.4vw);
  transition: background-color 0.5s;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-main.membership:hover {
  background-color: #ffffff;
}

.btn-main.joinUs {
  background-color: #d9d7c4;
  border-radius: 15px;
  font-size: 28px;
  font-size: clamp(1vw, 28px, 1.7vw);
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  color: rgb(0, 0, 0);
  border-radius: min(15px, 1.2vw);
  border: none;
  width: clamp(0vw, 209.89px, 15vw);
  padding: min(18px, 1.4vw);
  transition: background-color 0.5s;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.contentContainer.PAS {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: min(51%, 28vw);
  width: 100%;
}
.postTitle.PAS {
  background: #d9d7c4;
  border-radius: 40px;
  font-size: clamp(1vw, 31px, 1.7vw);
  padding: clamp(0.8vw, 15px, 0.3vw);
  text-align: center;
  line-height: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  width: clamp(1vw, 377px, 20vw);
}
.heading.PAS {
  font-family: "TT Wellingtons Trl";
  text-align: center;
  font-size: clamp(1vw, 4.76rem, 4vw);
  width: 60%;
}
.paragraph.PAS {
  font-family: "Open Sauce Sans";
  text-align: center;
  font-size: clamp(1vw, 2.2rem, 2.2vw);
  width: 60%;
}
.contentContainer.event {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  height: min(51%, 28vw);
  width: 100%;
  margin: min(90px, 5vw) 0 0 min(97px, 5vw);
}
.postTitle.event {
  background: #d9d7c4;
  border-radius: 40px;
  font-size: clamp(1vw, 31px, 1.7vw);
  padding: clamp(0.8vw, 15px, 0.3vw);
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  width: clamp(1vw, 195px, 12vw);
}
.heading.event {
  font-family: "TT Wellingtons Trl";
  text-align: left;
  font-size: clamp(1vw, 4.76rem, 4vw);
  width: 63%;
}
.paragraph.event {
  font-family: "Open Sauce Sans";
  text-align: left;
  font-size: clamp(1vw, 2.2rem, 2.2vw);
  width: 46%;
}
@media screen and (min-height: 667px) and (max-width: 1280px) and (orientation: portrait) {
  .contentContainer.membership {
    align-items: center;
    margin-left: calc(30vh - 14vw);
  }
  .heading.membership,
  .paragraph.membership {
    text-align: center;
  }
  .postTitle.membership {
    background: rgba(0, 0, 0, 0.5);
  }
  .contentContainer.ourValue {
    height: 35vh;
  }
  .postTitle.ourValue {
    font-size: clamp(1vw, 31px, 1.9vw);
  }
  .heading.ourValue {
    font-size: clamp(1vw, 4.76rem, 4.6vw);
  }
  .paragraph.ourValue {
    font-size: clamp(1vw, 2.2rem, 2.5vw);
  }

  .contentContainer.aboutUs {
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    width: calc(72vw - 3vh);
    height: calc(67vw - 10vh);
  }
  .contentContainer.ourMission {
    height: 25%;
  }
}

@media screen and (max-width: 730px) and (orientation: portrait) {
  .contentContainer.ourMission {
    height: min(180px, 35vw);
  }
  .postTitle.ourMission {
    font-size: min(14px, 2.5vw);
    padding: min(15px, 0vw);
    width: min(125px, 22vw);
    line-height: min(35px, 7vw);
  }
  .heading.ourMission {
    font-size: min(2.6rem, 5.3vw);
  }
  .paragraph.ourMission {
    font-size: min(1.2rem, 3vw);
    width: 75%;
  }

  .contentContainer.aboutUs {
    height: calc(70vw + 3vh);
    width: 78vw;
  }

  .postTitle.aboutUs {
    font-size: 3vw;
    width: 18vw;
  }
  .heading.aboutUs {
    font-size: 6vw;
  }
  .paragraph.aboutUs {
    font-size: 3vw;
  }
  .btn-main.aboutUs {
    font-size: 2.5vw;
    width: 18vw;
    border-radius: 2vw;
  }
}
