.contentContainer.aboutUs {
  width: 6.5em;
  height: 66%;
  max-height: 5em;
  margin-left: 1.04em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.postTitle.aboutUs {
  width: fit-content;
  color: #323232;
  background-color: #afab9c;
  border-radius: 100px;
  padding: 0.77em 1.165em;
  font-size: 0.193em;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  text-wrap: nowrap;
}
.heading.aboutUs {
  font-size: 0.445em;
  font-family: "TT Wellingtons Trl";
  color: #323232;
}
.paragraph.aboutUs {
  font-size: 0.2em;
  font-family: "Open Sauce Sans";
  color: #323232;
}
.btn-main.aboutUs {
  text-wrap: nowrap;
  border: none;
  transition: background 500ms;
  background-color: #443115;
  color: white;
  width: fit-content;
  border-radius: 0.535em;
  padding: 0.96em 1.78em;
  font-size: 0.175em;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
}
.btn-main.aboutUs:hover {
  background-color: rgb(110, 77, 30);
}
.contentContainer.ourMission {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
}

.postTitle.ourMission {
  background: #d9d7c4;
  font-size: clamp(1vw, 31px, 1.7vw);
  width: auto;
  border-radius: clamp(calc(40px + 3%), calc(40px - 0%), calc(40px - 2%));
  padding-inline: 2%;
  padding-block: 1%;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  white-space: nowrap;
}
.heading.ourMission {
  font-size: clamp(1vw, 4.76rem, 4vw);
  font-family: "TT Wellingtons Trl";
  text-align: center;
}
.paragraph.ourMission {
  font-family: "Open Sauce Sans";
  font-size: clamp(1vw, 2.2rem, 2.2vw);
  text-align: center;
  width: 65%;
}
.contentContainer.ourValue {
  height: 40vh;

  display: flex;

  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  margin-bottom: 60px;
}

.postTitle.ourValue {
  background: #d9d7c4;
  font-size: clamp(1vw, 31px, 1.7vw);
  width: auto;
  border-radius: clamp(calc(40px + 3%), calc(40px - 0%), calc(40px - 2%));
  padding-inline: 2%;
  padding-block: 1%;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  white-space: nowrap;
}
.heading.ourValue {
  font-size: clamp(1vw, 4.76rem, 4vw);
  font-family: "TT Wellingtons Trl";
  text-align: center;
}
.paragraph.ourValue {
  font-family: "Open Sauce Sans";
  font-size: clamp(1vw, 2.2rem, 2.2vw);
  text-align: center;
  width: 65%;
}

.contentContainer.membership {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 50%;
  margin-left: min(120px, 6vw);
  padding-block: calc(40vh - 18vw);
}
.postTitle.membership {
  background: rgba(0, 0, 0, 0.27);
  border-radius: 40px;
  font-size: clamp(1vw, 31px, 1.5vw);
  padding: clamp(0.8vw, 20px, 1.3vw);
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  color: #ffffff;
  font-weight: 400;
  width: clamp(1vw, 235px, 13vw);
}
.heading.membership {
  font-family: "TT Wellingtons Trl";
  color: white;

  font-size: clamp(1vw, 3.8rem, 3.5vw);
}
.paragraph.membership {
  color: white;
  font-family: "Open Sauce Sans";
  font-size: clamp(1vw, 2.2rem, 1.9vw);
}

.btn-main.membership {
  background-color: #b0afaa;
  border-radius: 15px;
  font-size: 28px;
  font-size: clamp(1vw, 28px, 1.7vw);
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  color: rgb(0, 0, 0);
  border-radius: min(15px, 1.2vw);
  border: none;
  width: clamp(0vw, 209.89px, 15vw);
  padding: min(18px, 1.4vw);
  transition: background-color 0.5s;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-wrap: nowrap;
}

.btn-main.membership:hover {
  background-color: #ffffff;
}

.btn-main.joinUs {
  background-color: #d9d7c4;
  border-radius: 15px;
  font-size: 28px;
  font-size: clamp(1vw, 28px, 1.7vw);
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  color: rgb(0, 0, 0);
  border-radius: min(15px, 1.2vw);
  border: none;
  width: clamp(0vw, 209.89px, 15vw);
  padding: min(18px, 1.4vw);
  transition: background-color 0.5s;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.contentContainer.PAS {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: min(51%, 28vw);
  width: 100%;
}
.postTitle.PAS {
  background: #d9d7c4;
  border-radius: 40px;
  font-size: clamp(1vw, 31px, 1.7vw);
  padding: clamp(0.8vw, 15px, 0.3vw);
  text-align: center;
  line-height: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  width: clamp(1vw, 377px, 20vw);
}
.heading.PAS {
  font-family: "TT Wellingtons Trl";
  text-align: center;
  font-size: clamp(1vw, 4.76rem, 4vw);
  width: 60%;
}
.paragraph.PAS {
  font-family: "Open Sauce Sans";
  text-align: center;
  font-size: clamp(1vw, 2.2rem, 2.2vw);
  width: 60%;
}
.contentContainer.event {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  height: min(51%, 28vw);
  width: 100%;
  outline: solid red;
  align-items: center;
}
.postTitle.event {
  background: #d9d7c4;
  border-radius: 40px;
  font-size: clamp(1vw, 31px, 1.7vw);
  padding: clamp(0.8vw, 15px, 0.3vw);
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  width: clamp(1vw, 195px, 12vw);
}
.heading.event {
  font-family: "TT Wellingtons Trl";
  text-align: left;
  font-size: clamp(1vw, 4.76rem, 4vw);
  width: 63%;
}
.paragraph.event {
  font-family: "Open Sauce Sans";
  text-align: left;
  font-size: clamp(1vw, 2.2rem, 2.2vw);
  width: 46%;
}
@media screen and (width <= 1280px) and (orientation: portrait) {
  .contentContainer.aboutUs {
    margin: 0;
    text-align: center;
    align-items: center;
  }
  .contentContainer.membership {
    align-items: center;
    margin: 0;
    width: auto;
  }
  .heading.membership,
  .paragraph.membership {
    text-align: center;
  }
  .postTitle.membership {
    background: rgba(0, 0, 0, 0.5);
  }
  .contentContainer.ourValue {
    height: 35vh;
  }
  .postTitle.ourValue {
    font-size: clamp(1vw, 31px, 1.9vw);
  }
  .heading.ourValue {
    font-size: clamp(1vw, 4.76rem, 4.6vw);
  }
  .paragraph.ourValue {
    font-size: clamp(1vw, 2.2rem, 2.5vw);
  }

  .contentContainer.ourMission {
    height: 25%;
  }
  .heading.membership {
    width: 75%;
  }

  .paragraph.membership {
    width: 50%;
  }
  .contentContainer.ourValue {
    height: 33vw;
  }
  .contentContainer.PAS {
    display: none;
  }
}

@media screen and (max-width: 703px) and (orientation: portrait) {
  .contentContainer.aboutUs {
    max-height: 5.508em;
    width: min(8.5em, 80vw);
  }

  .postTitle.aboutUs {
    font-size: 0.25em;
  }

  .paragraph.aboutUs {
    font-size: 0.23em;
  }
  .btn-main.aboutUs {
    font-size: 0.247em;
  }
  .contentContainer.ourMission {
    height: min(180px, 35vw);
  }
  .postTitle.ourMission {
    font-size: min(14px, 2.5vw);
    padding: min(15px, 0vw);
    width: min(125px, 22vw);
    line-height: min(35px, 7vw);
  }
  .heading.ourMission {
    font-size: min(2.6rem, 5.3vw);
  }
  .paragraph.ourMission {
    font-size: min(1.2rem, 3vw);
    width: 75%;
  }

  .contentContainer.ourMission {
    justify-content: space-evenly;
    height: calc(50vw + 16vh);
    width: 76vw;
    position: relative;
  }

  .postTitle.ourMission {
    font-size: 3.4vw;
    width: 25vw;
    padding-block: 0.8vw;
    position: absolute;
    top: -5%;
  }
  .heading.ourMission {
    font-size: 6.5vw;
  }
  .paragraph.ourMission {
    font-size: 3.5vw;
    width: 75%;
  }

  .btn-main.ourMission {
    font-size: 2.5vw;
    width: 18vw;
    border-radius: 2vw;
  }
  .contentContainer.membership {
    position: relative;
    padding-block: 0;
    justify-content: space-around;
    height: 90%;
    padding-block: calc(34vh - 22vw);
  }

  .postTitle.membership {
    position: absolute;
    top: -4.5vw;
    font-size: 3.4vw;
    width: 25vw;
    background-color: #262624;
    padding-block: 2.5vw;
  }
  .heading.membership {
    font-size: 6vw;

    width: 85%;
  }
  .paragraph.membership {
    width: 70%;
    font-size: 3.5vw;
  }
  .btn-main.membership {
    width: auto;
    font-size: 3.5vw;
    padding-inline: 2.3vw;
  }
  .contentContainer.ourValue {
    position: relative;
    height: 30%;
    padding: 13vh 0 0 0;
  }
  .postTitle.ourValue {
    position: absolute;
    padding-block: 2vw;
    top: -4.5vw;
    font-size: 3.4vw;
    width: 25vw;
  }
  .heading.ourValue {
    font-size: 6vw;
    width: 85%;
  }
  .paragraph.ourValue {
    width: 73%;
    font-size: 3.5vw;
  }
}
