.contentContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.heading,
.paragraph,
.postTitle {
  color: #323232;
}
.postTitle {
  width: fit-content;
  border-radius: 100px;
  padding: 0.77em 1.165em;
  font-size: 0.193em;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  text-wrap: nowrap;
}
.heading {
  font-size: 0.445em;
  font-family: "TT Wellingtons Trl";
}
.paragraph {
  font-size: 0.2em;
  font-family: "Open Sauce Sans";
}
.btn-main {
  text-wrap: nowrap;
  border: none;
  transition: background 500ms;
  width: fit-content;
  border-radius: 0.535em;
  padding: 0.9em 1.78em;
  font-size: 0.175em;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
}

.contentContainer.aboutUs {
  width: 6.5em;
  height: 66%;
  max-height: 5em;
  margin-left: 1.04em;
  align-items: start;
  text-align: left;
}

.postTitle.aboutUs {
  background-color: #afab9c;
}
.btn-main.aboutUs {
  background-color: #443115;
  color: white;
}
.btn-main.aboutUs:hover {
  background-color: rgb(110, 77, 30);
}

.contentContainer.ourMission {
  height: 50%;
  justify-content: space-evenly;
  max-height: 4em;
}

.postTitle.ourMission {
  background-color: #d9d7c4;
}

.paragraph.ourMission {
  width: 50%;
}
.contentContainer.ourValue {
  height: 40vh;

  display: flex;

  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  margin-bottom: 60px;
}

.postTitle.ourValue {
  background: #d9d7c4;
  font-size: clamp(1vw, 31px, 1.7vw);
  width: auto;
  border-radius: clamp(calc(40px + 3%), calc(40px - 0%), calc(40px - 2%));
  padding-inline: 2%;
  padding-block: 1%;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  white-space: nowrap;
}
.heading.ourValue {
  font-size: clamp(1vw, 4.76rem, 4vw);
  font-family: "TT Wellingtons Trl";
  text-align: center;
}
.paragraph.ourValue {
  font-family: "Open Sauce Sans";
  font-size: clamp(1vw, 2.2rem, 2.2vw);
  text-align: center;
  width: 65%;
}

.contentContainer.membership {
  align-items: initial;
  padding-inline-start: 0.95em;
  text-align: left;
  height: 80%;
}
.postTitle.membership {
  color: #ffffff;
  background-color: rgb(0, 0, 0, 0.27);
}
.heading.membership {
  color: #ffffff;
}
.paragraph.membership {
  color: #ffffff;
}

.btn-main.membership {
  color: #323232;
  background-color: #b0afaa;
}

.btn-main.membership:hover {
  background-color: #ffffff;
}

.btn-main.joinUs {
  background-color: #d9d7c4;
  border-radius: 15px;
  font-size: 28px;
  font-size: clamp(1vw, 28px, 1.7vw);
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  color: rgb(0, 0, 0);
  border-radius: min(15px, 1.2vw);
  border: none;
  width: clamp(0vw, 209.89px, 15vw);
  padding: min(18px, 1.4vw);
  transition: background-color 0.5s;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.contentContainer.PAS {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: min(51%, 28vw);
  width: 100%;
}
.postTitle.PAS {
  background: #d9d7c4;
  border-radius: 40px;
  font-size: clamp(1vw, 31px, 1.7vw);
  padding: clamp(0.8vw, 15px, 0.3vw);
  text-align: center;
  line-height: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  width: clamp(1vw, 377px, 20vw);
}
.heading.PAS {
  font-family: "TT Wellingtons Trl";
  text-align: center;
  font-size: clamp(1vw, 4.76rem, 4vw);
  width: 60%;
}
.paragraph.PAS {
  font-family: "Open Sauce Sans";
  text-align: center;
  font-size: clamp(1vw, 2.2rem, 2.2vw);
  width: 60%;
}
.contentContainer.event {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  height: min(51%, 28vw);
  width: 100%;
  outline: solid red;
  align-items: center;
}
.postTitle.event {
  background: #d9d7c4;
  border-radius: 40px;
  font-size: clamp(1vw, 31px, 1.7vw);
  padding: clamp(0.8vw, 15px, 0.3vw);
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  width: clamp(1vw, 195px, 12vw);
}
.heading.event {
  font-family: "TT Wellingtons Trl";
  text-align: left;
  font-size: clamp(1vw, 4.76rem, 4vw);
  width: 63%;
}
.paragraph.event {
  font-family: "Open Sauce Sans";
  text-align: left;
  font-size: clamp(1vw, 2.2rem, 2.2vw);
  width: 46%;
}
@media screen and (width <= 1280px) and (orientation: portrait) {
  .contentContainer.aboutUs {
    margin: 0;
    text-align: center;
    align-items: center;
  }
  .contentContainer.membership {
    align-items: center;
    padding: 0;
    height: 80%;
  }
  .heading.membership,
  .paragraph.membership {
    text-align: center;
  }
  .postTitle.membership {
    background: rgba(0, 0, 0, 0.5);
  }
  .contentContainer.ourValue {
    height: 35vh;
  }
  .postTitle.ourValue {
    font-size: clamp(1vw, 31px, 1.9vw);
  }
  .heading.ourValue {
    font-size: clamp(1vw, 4.76rem, 4.6vw);
  }
  .paragraph.ourValue {
    font-size: clamp(1vw, 2.2rem, 2.5vw);
  }

  .contentContainer.ourValue {
    height: 33vw;
  }
  .contentContainer.PAS {
    display: none;
  }
}

@media screen and (max-width: 703px) and (orientation: portrait) {
  .contentContainer.aboutUs {
    max-height: 5.508em;
    width: min(8.5em, 80vw);
  }

  .postTitle {
    font-size: 0.25em;
  }

  .paragraph {
    font-size: 0.23em;
  }
  .btn-main {
    font-size: 0.22em;
  }

  .contentContainer.ourMission {
    justify-content: space-evenly;
    max-height: 40vh;
  }
  .heading.ourMission {
    width: 60%;
  }
  .postTitle.ourMission {
    position: absolute;
    top: -1.5em;
  }

  .contentContainer.membership {
    justify-content: space-between;
    padding-block: 2.4em 2em;
    min-height: 14em;
  }

  .postTitle.membership {
    background-color: #262624;
    position: absolute;
    top: -1.5em;
  }
  .heading.membership {
    padding-inline: 1em;
  }
  .paragraph.membership {
    padding-inline: 2.5em;
    padding-block-end: 2em;
  }
  .contentContainer.ourValue {
    position: relative;
    height: 30%;
    padding: 13vh 0 0 0;
  }
  .postTitle.ourValue {
    position: absolute;
    padding-block: 2vw;
    top: -4.5vw;
    font-size: 3.4vw;
    width: 25vw;
  }
  .heading.ourValue {
    font-size: 6vw;
    width: 85%;
  }
  .paragraph.ourValue {
    width: 73%;
    font-size: 3.5vw;
  }
}
