.prayerWidget-container-inner {
  display: flex;
  min-width: 18em;
  justify-content: space-evenly;
  height: 55%;
  box-shadow: none;
}
.nextPrayerWidget-container {
  position: relative;
  border-radius: 74.86px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c4b0c9;
  padding-inline: 0.2em;
  overflow-x:hidden;
  filter: drop-shadow(
    0px 2.935500144958496px 2.935500144958496px rgba(0, 0, 0, 0.25)
  );
  border-radius: 75.2221908569336px;
  cursor: pointer;
  font-size: 1.5em;
  width: fit-content;
}

.prayerSvg {
  display: block;
  width: 0.6em;
}
.nextprayer {
  font-family: Montserrat;
  font-weight: bold;
  color: #4e2955;
  font-size: min(1.65rem, 1.4vw);
  text-align: left;
  width: 100%;
  padding-inline-start: 0.7em;
  font-size: 0.22em;
  text-wrap: nowrap;
}
.time {
  font-size: min(2.42rem, 2vw);
  font-family: Montserrat;
  color: #4e2955;
  font-weight: bold;
  font-size: 0.33em;
}
.amPm {
  margin-left: 2px;
  font-size: 0.3em;
}
.progress-wrapper {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 6%;
  width: 100%;
  border-radius: 10px;
  background-color: #b87cc5;
  padding-inline: min(17px, 1.3vw);
}
.progress {
  height: 100%;
  width: 50%;
  background-color: #873a97;
  border-radius: 10px;
}
.widgetNav-wrapper {
  filter: drop-shadow(
    0px 2.935500144958496px 2.935500144958496px rgba(0, 0, 0, 0.25)
  );
  border-radius: 75.2221908569336px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Montserrat;
  font-weight: bold;
  justify-content: space-between;
  cursor: pointer;
  padding-inline: 2%;
  font-size: 1.5em;
  /* outline: solid red; */
}

.widgetNav-logo {
  display: flex;
  width: 0.34em;
}
.widgetNav-title {
  display: block;
  font-size: 0.22em;
  padding-inline-start: 0.7em;
}

@media screen and (max-width: 703px) {
  .prayerWidget-container-inner {
    width: 19em;
  }
}
