.PrayerAndSpirituality-container {
  background-color: #f5f3e1;
}
.MainContentBox-container {
  display: flex;
  align-items: center;
  height: min(960px, 48vw);
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Card-Section-1 {
  display: flex;
  flex-direction: row;
  height: min(1273px, 66vw);
}
.Card1-container {
  background: #dfc693;
  border-radius: 0px min(52px, 3vw) min(52px, 3vw) 0px;
  width: 55.6%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-inline: min(120px, 5vw);
}
.Card2-container {
  border-radius: min(52px, 3vw);
  background: rgba(121, 186, 163, 0.63);
  width: 41.3%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-inline: min(63px, 3vw);
}
.Card3-container {
  border-radius: min(52px, 3vw) 0px 0px min(52px, 3vw);
  background: rgba(167, 137, 186, 0.63);
  width: 98.43%;
  height: min(1045px, 52vw);
  margin-inline-start: auto;
  margin-top: min(30px, 2vw);
}
.Card1-title-location-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 28%;
}
.Card1-title {
  color: #674a0d;
  font-family: Montserrat;
  font-size: min(76px, 4vw);
  font-style: normal;
  font-weight: 700;
}
.Card1-location-container {
  display: flex;
  justify-content: space-between;
}
.Card1-location {
  color: #674a0d;
  font-family: Open Sauce Sans;
  font-size: min(38px, 2vw);
  font-style: normal;
  font-weight: 400;
  display: flex;

  align-items: center;
}
.Card1-btn {
  border-radius: min(15px, 1vw);
  background: #674a0d;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: min(28px, 1.5vw);
  font-style: normal;
  font-weight: 700;
  padding-inline: min(40px, 2vw);
  padding-block: min(20px, 1vw);
  margin-right: min(70px, 3vw);
  border: none;
  box-shadow: 0px 3px 4px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 3px 4px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 4px -3px rgba(0, 0, 0, 0.75);
}
.Card1-facilityInfo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45%;
}
.facilitySvg {
  display: block;
  width: min(50px, 3vw);
  height: min(50px, 3vw);
  margin-right: min(46px, 2vw);
}
.facilityInfo.Card1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: max-content;
  border-radius: 47px;
  background: #c8b184;
  padding-block: min(20px, 1vw);
  padding-inline: min(30px, 2vw);
}
.facilityTitle.Card1 {
  color: #343431;
  font-family: Inter;
  font-size: min(31px, 2vw);
  font-style: normal;
  font-weight: 700;
}
.Card1-info {
  color: #323232;
  font-family: Inter;
  font-size: min(18px, 1vw);
  font-style: normal;
  font-weight: 400;
}

.Card2-title-location-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 59%;
}
.Card2-title {
  color: #1a5527;
  font-family: Montserrat;
  font-size: min(76px, 4vw);
  font-style: normal;
  font-weight: 700;
  text-align: right;
}
.Card2-location-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  height: min(345px, 18vw);
}
.Card2-location {
  color: #1a5527;
  font-family: Open Sauce Sans;
  font-size: min(38px, 2vw);
  font-style: normal;
  font-weight: 400;
  text-align: right;
}
.Card2-btn {
  border-radius: min(15px, 1vw);
  background: #35643f;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: min(28px, 1.5vw);
  font-style: normal;
  font-weight: 700;
  padding-inline: min(40px, 2vw);
  padding-block: min(20px, 1vw);
  border: none;
  box-shadow: 0px 3px 4px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 3px 4px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 4px -3px rgba(0, 0, 0, 0.75);
}
.Card2-facilityInfo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 40%;
  margin-top: max(-120px, -7vw);
}
.facilityInfo.Card2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: max-content;
  border-radius: 47px;
  background: #86bfa2;
  padding-block: min(20px, 1vw);
  padding-inline: min(30px, 2vw);
}
.facilityTitle.Card2 {
  color: #343431;
  font-family: Inter;
  font-size: min(31px, 2vw);
  font-style: normal;
  font-weight: 700;
}
