.PrayerAndSpirituality-container {
  background-color: #f5f3e1;
}
.MainContentBox-container {
  display: flex;
  align-items: center;
  height: clamp(6em, 80vh, 8em);
  font-size: clamp(6em, 8.4vw, 20em);
}
.MainContentBox-container > div {
  height: 60%;
  justify-content: space-evenly;
  max-height: 5em;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  align-items: center;
  justify-content: space-evenly;
}
.Card-Section-1 {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.Card1-container {
  background: #dfc693;
  padding: 1.6em 1em 1.2em 1.6em;
  width: 55.6%;
  font-size: 5em;
  font-size: 4.17cqw;
  border-radius: 0 0.7em 0.7em 0;
}

.Card2-container {
  border-radius: 0.7em;
  background: rgba(121, 186, 163, 0.63);
  width: 41.3%;
  margin-left: 1.5cqw;
  font-size: 4.17cqw;
  padding: 1.6em 0.8em 0 0.2em;
}

.Card1-title-location-container {
  /* padding-inline-end: 1em; */
  padding-inline-end: 0.2em;
}
.Card1-title {
  color: #674a0d;
  font-family: Montserrat;
  font-size: 0.95em;
  font-style: normal;
  font-weight: 700;
}

.Card1-location-container {
  display: flex;
  justify-content: space-between;
  margin-block: 1.05em;
}
.Card1-location {
  color: #674a0d;
  font-family: Open Sauce Sans;
  font-style: normal;
  font-weight: 400;
  display: flex;
  font-size: 0.475em;
  align-items: center;
}
.Card1-btn,
.Card2-btn {
  background: #674a0d;
  color: #fff;
  text-align: center;
  font-size: 0.35em;
  font-family: Inter;
  border-radius: 0.53em;
  padding: 0.8em 1.65em;
  font-style: normal;
  font-weight: 700;
  border: none;
  box-shadow: 0px 3px 4px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 3px 4px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 4px -3px rgba(0, 0, 0, 0.75);
  transition: background 0.5s;
  cursor: pointer;
}
.Card2-btn {
  background-color: #1a5527;
}
.Card1-btn::after,
.Card2-btn::after {
  content: "Maps";
}
.Card1-btn:hover {
  background: #876213;
}
.Card2-btn:hover {
  background: #238538;
}
.Card1-facilityInfo-container,
.Card2-facilityInfo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Card2-facilityInfo-container {
  align-items: end;
}

.facilitySvg {
  display: block;
  width: 0.7em;
}
.facilityInfo.Card1,
.facilityInfo.Card2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  width: fit-content;
  background: #c8b184;
  cursor: default;
  padding: 0.275em 0.675em 0.275em 0.2875em;
  margin-bottom: 0.25em;
}
.facilityTitle.Card1,
.facilityTitle.Card2 {
  font-family: Inter;
  font-style: normal;
  font-size: 0.3875em;
  font-weight: 700;
  padding-inline-start: 1em;
  text-wrap: nowrap;
  color: #343431;
}
.Card1-info {
  color: #323232;
  font-family: Inter;
  font-size: 0.225em;
  font-style: normal;
  font-weight: 400;
}

.Card2-title-location-container {
  text-align: right;
  margin-bottom: 1em;
}
.Card2-title {
  color: #1a5527;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
}
.Card2-location-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.Card2-location {
  color: #1a5527;
  padding-block: 2.2em 1.5em;
  font-family: Open Sauce Sans;
  font-size: 0.475em;
  font-style: normal;
  font-weight: 400;
}

.facilityInfo.Card2 {
  background-color: #86bfa2;
}

.Card3-container {
  background: rgba(167, 137, 186, 0.63);
  margin-inline-start: auto;
  width: 98.5%;
  display: flex;
  align-items: center;
  font-size: 4.17cqw;
  padding-inline: 1.48em;
  margin-bottom: 0.5em;
  margin-top: 0.38em;
  border-radius: 0.65em 0 0 0.65em;
  justify-content: space-between;
}
.Card3-section-1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-block: 2.3em;
}
.Card3-date-svg-container {
  display: flex;
  align-items: center;
}
.Card3-svg {
  width: 0.7em;
  display: block;
}
.Card3-date-container {
  display: flex;
  flex-direction: column;
  margin-left: 0.47em;
}

.Card3-Islamic-date,
.Card3-Gregorian-date {
  color: #4e2955;
  font-size: 0.42em;
  font-family: "Open Sauce Sans";
  font-style: normal;
  text-wrap: nowrap;
}
.Card3-Islamic-date {
  font-weight: bold;
}
.Card3-Gregorian-date {
  font-weight: 400;
  padding-top: 0.1em;
}
.Maintime-container {
  cursor: default;
  /* text-align: center; */
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  padding-block: 1em;
}
.Time {
  color: #4e2955;

  font-size: 1.64em;
}
.AmOrPm {
  color: #4e2955;
  font-size: 0.51em;
  padding-inline-start: 0.18em;
}
.NextPrayer-Progress-Container {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
.NextPrayer-container {
  color: #4e2955;
  font-family: Open Sauce Sans;
  font-size: 0.48em;
  cursor: default;
}
.Next-Prayer {
  font-family: "Open Sauce Sans";
  font-style: normal;
  padding-inline-start: 0.2em;
  font-weight: bold;
}
.Timeleft {
  color: #4e2955;
  text-align: center;
  font-family: Open Sauce Sans;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  font-size: 0.46em;
  padding-block: 1.4em 1.25em;
}
.Progress-container,
.Progress {
  height: 0.11em;

  border-radius: 50px;
}
.Progress-container {
  background-color: #b87cc5;
  width: 70%;
  position: relative;
}
.Progress {
  background-color: #873a97;
}
.Card3-section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 9em;
  width: 9.13em;
}
.Card3-section-2-Salah-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  /* height: 73%; */
}
.Salah-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3f3548;
  padding: 0.25em;
  border-radius: 0.3em;
}
.Salah-container.active {
  background: #bc9cc2;
  color: #4e2955;
}
.Day-svg {
  display: block;
  width: 0.68em;
}
.Salah {
  font-family: Montserrat;
  font-size: 0.62em;
  font-style: normal;
  font-weight: 700;
  flex-grow: 1;
  margin-left: 0.4em;
  font-size: 0.62em;
  cursor: default;
}

.SalahTime {
  text-align: right;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  cursor: default;
  font-size: 0.62em;
}
.SalahTime-AmOrPm {
  font-size: 0.42em;
  text-align: right;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  cursor: default;
}
.Card3-location {
  display: flex;
  align-items: center;
  color: rgba(63, 53, 72, 0.61);
  font-family: Montserrat;
  font-size: 0.23em;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
  transition: color 0.5s;
  padding-inline-start: 6em;
  position: relative;
  top: -1.5em;
}
.Card3-location > span {
  margin-right: 1em;
}
.Card3-location:hover {
  color: black;
}
.location-svg {
  width: min(35px, 2vw);
  height: min(35px, 2vw);
  color: rgba(63, 53, 72, 0.61);
}

@media screen and (width <= 1280px) and (orientation: portrait) {
  .PrayerAndSpirituality-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .card-container {
    margin-top: 12em;
    align-items: center;
    height: 100%;
  }
  .MainContentBox-container {
    display: none;
  }
  .Card1-container,
  .Card2-container,
  .Card3-container {
    font-size: 2.5cqw;
  }

  .Card2-container,
  .Card1-container {
    width: 16em;
    aspect-ratio: 167 / 173;

    border-radius: 1.3em;
    padding: 0;
    margin: 0;
    max-height: 18em;
  }
  .Card1-container {
    margin-right: 1em;
  }
  .Card-Section-1 {
    justify-content: space-between;
  }

  .Card1-title-location-container,
  .Card2-title-location-container {
    font-size: 1.4em;
    padding: 2em 0.5em 0.75em 0.5em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  .Card1-location-container,
  .Card2-location-container {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 55%;
  }
  .Card2-location,
  .Card1-location {
    text-align: center;
    padding: 0;
    font-size: 0.7em;
  }

  .Card1-facilityInfo-container,
  .Card2-facilityInfo-container {
    display: none;
  }
  .Card1-info {
    display: none;
  }
  .Card1-btn,
  .Card2-btn {
    font-size: 0.68em;
  }
  .Card1-btn::after,
  .Card2-btn::after {
    content: "Learn More";
  }
  .Card3-container {
    padding-block: 2.35em;
    border-radius: 1.3em;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    align-items: center;
    margin: 1em 0 4em 0;
    justify-content: center;
  }
  .Card3-date-svg-container {
    justify-content: center;
  }
  .Card3-svg {
    width: 0.85em;
  }

  .Card3-section-1 {
    padding: 0;
    align-items: center;
    font-size: 2.2em;
  }
  .Card3-section-2 {
    height: fit-content;
    margin-top: 4em;
  }

  .AmOrPm {
    align-content: end;
    margin-left: 0.2em;
    height: 10%;
  }
  .NextPrayer-Progress-Container {
    align-items: center;
  }
  .NextPrayer-container {
    font-size: 0.65em;
  }
  .Card3-section-2 {
    width: 75%;
  }
  .Maintime-container {
    font-size: 1.3em;
  }

  .Card3-Gregorian-date {
    padding-top: 1em;
  }

  .Timeleft {
    text-align: center;
    font-size: 0.5em;
    padding-block: 1.4em 3em;
  }
  .Progress-container {
    width: 7em;
  }
  .Salah-container {
    font-size: 2em;
  }
  .Card3-location {
    font-size: 0.5em;
    margin-top: 1em;
  }
}
@media screen and (max-width: 703px) and (orientation: portrait) {
  .Card1-container,
  .Card2-container,
  .Card3-container {
    font-size: 2.8cqw;
  }
  .card-container {
    margin-top: 6em;
  }
  .Card3-container {
    padding-block: 4.6em;
  }
  .Card3-section-1 {
    font-size: 2.4em;
  }
  .Card3-section-2 {
    font-size: 1.45em;
    width: 90%;
  }
  .Salah {
    margin-left: 0.6em;
  }
}
