.PrayerAndSpirituality-container {
  background-color: #f5f3e1;
}
.MainContentBox-container {
  display: flex;
  align-items: center;
  height: min(960px, 48vw);
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: min(2380px, 123.5vw);
  align-items: center;
  justify-content: space-evenly;
}
.Card-Section-1 {
  display: flex;
  flex-direction: row;
  height: min(1273px, 66vw);
}
.Card1-container {
  background: #dfc693;
  border-radius: 0px min(52px, 3vw) min(52px, 3vw) 0px;
  width: 55.6%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-inline: min(120px, 5vw);
}
.Card2-container {
  border-radius: min(52px, 3vw);
  background: rgba(121, 186, 163, 0.63);
  width: 41.3%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-inline: min(63px, 3vw);
}

.Card1-title-location-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 28%;
}
.Card1-title {
  color: #674a0d;
  font-family: Montserrat;
  font-size: min(76px, 4vw);
  font-style: normal;
  font-weight: 700;
}
.Card1-location-container {
  display: flex;
  justify-content: space-between;
}
.Card1-location {
  color: #674a0d;
  font-family: Open Sauce Sans;
  font-size: min(38px, 2vw);
  font-style: normal;
  font-weight: 400;
  display: flex;

  align-items: center;
}
.Card1-btn {
  border-radius: min(15px, 1vw);
  background: #674a0d;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: min(28px, 1.5vw);
  font-style: normal;
  font-weight: 700;
  padding-inline: min(40px, 2vw);
  padding-block: min(20px, 1vw);
  margin-right: min(70px, 3vw);
  border: none;
  box-shadow: 0px 3px 4px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 3px 4px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 4px -3px rgba(0, 0, 0, 0.75);
  transition: background 0.5s;
  cursor: pointer;
}

.Card1-btn:hover {
  background: #876213;
}

.Card1-facilityInfo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45%;
}
.facilitySvg {
  display: block;
  width: min(50px, 3vw);
  height: min(50px, 3vw);
  margin-right: min(46px, 2vw);
}
.facilityInfo.Card1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: max-content;
  border-radius: 47px;
  background: #c8b184;
  padding-block: min(20px, 1vw);
  padding-inline: min(30px, 2vw);
  cursor: default;
}
.facilityTitle.Card1 {
  color: #343431;
  font-family: Inter;
  font-size: min(31px, 2vw);
  font-style: normal;
  font-weight: 700;
}
.Card1-info {
  color: #323232;
  font-family: Inter;
  font-size: min(18px, 1vw);
  font-style: normal;
  font-weight: 400;
}

.Card2-title-location-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 59%;
}
.Card2-title {
  color: #1a5527;
  font-family: Montserrat;
  font-size: min(76px, 4vw);
  font-style: normal;
  font-weight: 700;
  text-align: right;
}
.Card2-location-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  height: min(345px, 18vw);
}
.Card2-location {
  color: #1a5527;
  font-family: Open Sauce Sans;
  font-size: min(38px, 2vw);
  font-style: normal;
  font-weight: 400;
  text-align: right;
}
.Card2-btn {
  border-radius: min(15px, 1vw);
  background: #35643f;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: min(28px, 1.5vw);
  font-style: normal;
  font-weight: 700;
  padding-inline: min(40px, 2vw);
  padding-block: min(20px, 1vw);
  border: none;
  box-shadow: 0px 3px 4px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 3px 4px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 4px -3px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  transition: 0.5s;
}

.Card2-btn:hover {
  background: #238538;
}

.Card2-facilityInfo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 40%;
  margin-top: max(-120px, -7vw);
}
.facilityInfo.Card2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: max-content;
  border-radius: 47px;
  background: #86bfa2;
  padding-block: min(20px, 1vw);
  padding-inline: min(30px, 2vw);
  cursor: default;
}
.facilityTitle.Card2 {
  color: #343431;
  font-family: Inter;
  font-size: min(31px, 2vw);
  font-style: normal;
  font-weight: 700;
}
.Card3-container {
  border-radius: min(52px, 3vw) 0px 0px min(52px, 3vw);
  background: rgba(167, 137, 186, 0.63);
  width: 98.43%;
  height: min(1045px, 52vw);
  margin-inline-start: auto;
  margin-top: min(30px, 2vw);
  display: flex;
}
.Card3-section-1 {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-inline: min(120px, 7vw);
  padding-block: min(160px, 8vw);
}
.Card3-date-svg-container {
  display: flex;
  align-items: center;
}
.Card3-svg {
  display: block;
  width: min(50px, 3vw);
  height: min(50px, 3vw);
  margin-right: min(46px, 2vw);
}
.Card3-date-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: min(100px, 6vw);
  cursor: default;
}
.Card3-Islamic-date {
  color: #4e2955;
  font-family: "Open Sauce Sans";
  font-style: normal;
  font-weight: bold;
  font-size: min(34px, 1.8vw);
}
.Card3-Gregorian-date {
  color: #4e2955;
  font-family: Open Sauce Sans;
  font-size: min(34px, 1.8vw);
  font-style: normal;
  font-weight: 400;
}
.Maintime-container {
  cursor: default;
}
.Time {
  color: #4e2955;
  text-align: center;
  font-family: Montserrat;
  font-size: min(132px, 6.7vw);
  font-style: normal;
  font-weight: 700;
}
.AmOrPm {
  color: #4e2955;
  text-align: center;
  font-family: Montserrat;
  font-size: min(41px, 2vw);
  font-style: normal;
  font-weight: 700;
  margin-left: min(15px, 0.9vw);
}
.NextPrayer-Progress-Container {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  height: min(170px, 10vw);
}
.NextPrayer-container {
  color: #4e2955;
  font-family: Open Sauce Sans;
  font-size: min(48px, 3vw);
  cursor: default;
}
.Next-Prayer {
  font-family: "Open Sauce Sans";
  font-style: normal;
  font-weight: bold;
  margin-left: min(15px, 1vw);
}
.Timeleft {
  color: #4e2955;
  text-align: center;
  font-family: Open Sauce Sans;
  font-size: min(37px, 2vw);
  font-style: normal;
  font-weight: 400;
  text-align: left;
}
.Progress-container,
.Progress {
  height: min(10px, 0.5vw);
  border-radius: min(12px, 0.5vw);
}
.Progress-container {
  background-color: #b87cc5;
  width: 70%;
  position: relative;
}
.Progress {
  background-color: #873a97;
}
.Card3-section-2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.Card3-section-2-Salah-container {
  margin-right: min(115px, 6vw);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 73%;
}
.Salah-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5%;
  border-radius: min(25px, 1.5vw);
  color: #3f3548;
}
.Salah-container.active {
  background: #bc9cc2;
  color: #4e2955;
}
.Day-svg {
  display: block;
  width: min(50px, 3vw);
  height: min(50px, 3vw);
  margin-right: min(46px, 2vw);
}
.Salah {
  font-family: Montserrat;
  font-size: min(50px, 2.5vw);
  font-style: normal;
  font-weight: 700;
  flex-grow: 1;
  margin-left: min(32px, 1vw);
  cursor: default;
}

.SalahTime {
  text-align: right;
  font-family: Montserrat;
  font-size: min(50px, 2.6vw);
  font-style: normal;
  font-weight: 400;
  cursor: default;
}
.SalahTime-AmOrPm {
  text-align: right;
  font-family: Montserrat;
  font-size: min(34px, 1.75vw);
  font-style: normal;
  font-weight: 400;
  cursor: default;
}
.Card3-location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 32%;
  color: rgba(63, 53, 72, 0.61);
  font-family: Montserrat;
  font-size: min(18px, 1vw);
  font-style: normal;
  font-weight: 700;
  margin-left: 17%;
  margin-top: -6%;
  cursor: pointer;
  transition: color 0.5s;
}
.Card3-location:hover {
  color: black;
}
.location-svg {
  width: min(35px, 2vw);
  height: min(35px, 2vw);
  color: rgba(63, 53, 72, 0.61);
}

@media screen and (width <= 1280px) and (orientation: portrait) {
  .PrayerAndSpirituality-container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: calc(100vh + 10rem);
  }
  .card-container {
    align-items: center;
    height: 100%;
    width: 68%;
  }
  .MainContentBox-container {
    display: none;
  }

  .Card-Section-1 {
    justify-content: space-between;
    height: min(37rem, 10vh + 20vw);
    width: 100%;
  }

  .Card2-container,
  .Card1-container {
    justify-content: center;
    width: 47%;
    padding: 0;
    margin: 0;
    border-radius: min(52px, 3vw);
  }
  .Card1-title-location-container,
  .Card2-title-location-container {
    height: 100%;
    justify-content: space-around;
    align-items: center;
  }
  .Card1-title,
  .Card2-title {
    text-align: center;
    height: 25%;
    align-content: end;
    width: 90%;
  }
  .Card1-location-container,
  .Card2-location-container {
    height: 40%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .Card2-location,
  .Card1-location {
    text-align: center;
  }
  .Card2-location {
    width: 80%;
  }
  .Card1-title,
  .Card2-title {
    font-size: 3vw;
  }

  .Card1-facilityInfo-container,
  .Card2-facilityInfo-container {
    display: none;
  }
  .Card1-info {
    display: none;
  }
  .Card1-btn,
  .Card2-btn {
    margin: 0;
  }
  .Card3-container {
    border-radius: min(52px, 3vw);
    flex-direction: column;
    height: 72%;
    width: 100%;
    align-items: center;
    margin: 0;
    justify-content: center;
  }
  .Card3-date-svg-container {
    justify-content: center;
  }
  .Card3-section-1 {
    padding: 0;
    width: 80%;
    height: 50%;
    justify-content: space-evenly;
  }
  .Card3-section-2 {
    width: 80%;
    height: 45%;
  }
  .Maintime-container {
    display: flex;
    justify-content: center;
  }
  .AmOrPm {
    align-content: end;
    padding-bottom: 19px;
    font-size: min(2em, 4vw);
  }
  .NextPrayer-Progress-Container {
    align-items: center;
    height: 30%;
  }
  .NextPrayer-container {
    text-wrap: nowrap;
    font-size: 1.6em;
    flex-grow: 1;
  }
  .Card3-section-2-Salah-container {
    width: 100%;
    height: 80%;
  }

  .Card3-Islamic-date {
    font-size: 1.4em;
  }
  .Card3-Gregorian-date {
    font-size: 1.22em;
  }
  .Time {
    font-size: 6em;
  }
  .Timeleft {
    flex-grow: 3;
    font-size: 1.1em;
  }
  .Card3-location {
    margin: 0 0 0 5em;

    font-size: 0.7em;
    width: 30%;
  }
}
@media screen and (max-width: 703px) and (orientation: portrait) {
  .card-container {
    width: 90%;
  }
  .Card3-container {
    height: 76%;
    justify-content: space-around;
  }
  .Card1-title,
  .Card2-title {
    font-size: 3.6vw;
  }
  .Card2-location,
  .Card1-location {
    font-size: 2.6vw;
  }
  .Card3-Islamic-date {
    font-size: 1em;
  }
  .Card3-Gregorian-date {
    font-size: 1em;
  }
  .Time {
    font-size: 4.5em;
  }
  .Card3-section-2 {
    width: 85%;
  }
  .NextPrayer-container {
    font-size: 1.3em;
  }
  .Timeleft {
    font-size: 1em;
  }
  .Salah,
  .SalahTime {
    font-size: 1.2em;
  }
  .SalahTime-AmOrPm {
    font-size: 0.7em;
  }
  .Day-svg {
    height: 1.5em;
    width: 1.5em;
  }
  .Salah-container {
    padding: 3%;
  }
  .Card3-location {
    width: 40%;
  }
  /* .NextPrayer-Progress-Container  */
  .Card3-section-1 {
    height: 45%;
    justify-content: space-evenly;
  }
  .Card3-section-2-Salah-container {
    height: 100%;
  }
}
