.navbar-container {
  position: fixed;
  z-index: 4;
  width: 100%;
  font-size: clamp(4em, 5cqw, 12em);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: -1;
  padding: 1.8% 4%;
  transition: background-color 500ms;
}
.navbar-Dark {
  background: rgba(117, 117, 111, 0.29);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
}
.navbar-Light {
  background: rgba(246, 244, 226, 0.76);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
}

.navlogo {
  object-fit: cover;
  width: 3.38em;
}
.navitem-list-container {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1em;
  width: 9em;
}

.navitem {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.5em;
  text-align: center;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}

.navitem-Light-active {
  color: #6c4e22;
  font-weight: 700;
}
.underline {
  /* bottom: max(-8px, -1vw); */
  bottom: -0.3em;
  position: absolute;
  width: 60%;
  border-radius: 10px;
  background-color: #6c4e22;
}
.underline-Light {
  border: 0.05em solid #6c4e22;
}
.underline-Dark {
  border: 0.05em solid #c7c7c7;
}
.navitem-Light {
  color: #000000;
}
.navitem-Dark {
  color: white;
}

.navitem-Dark-active {
  color: #fcf5da;
  font-weight: 700;
}
.navitem-lastChild {
  padding: 0.8em;
  /* padding:20% 10%; */
  border-radius: 0.54em;
}
.navitem-lastChild-Light {
  background: #6c4e22;
  color: white;
}
.navitem-lastChild-Dark {
  background: #ab9473;
  color: black;
}

.hamburger-wrapper {
  height: 28px;
  width: 28px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  transform-origin: center;
  position: absolute;
  right: 7%;
  display: none;
}

.line {
  width: 100%;
  transform-origin: center;
  transition: all 500ms;
}
.mobileNav-wrapper {
  position: absolute;
  /* z-index: 9; */
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.328);
  display: none;
}
.mobleNav {
  position: relative;
  width: 80%;
  background-color: #3f3526ea;
  height: 100vh;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding-block-start: 0.8em;
}
.mobileNav-items-wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  height: 30em;
}
.mobNav-item {
  font-size: min(1.2em, 3.3vw);
  display: flex;
  align-items: center;
  height: 4em;
}
.mobNav-icon {
  display: inline-block;
  width: 1.6em;
  align-content: center;
  margin-left: 1.7em;
}

.mobNav-icon svg {
  fill: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
}

.mobNav-title {
  display: inline;
  font-family: "Inter";
  font-size: 1.5em;
  color: white;
  margin-left: 1em;
}
.mobNav-highlight > svg,
.mobNav-highlight {
  fill: #fedaa3;
  color: #fedaa3;
  font-weight: 700;
}

@media screen and (max-width: 703px) {
  .navbar {
    align-items: center;
    height: 1.3em;
    justify-content: center;
  }
  .hamburger-wrapper {
    display: flex;
  }

  .navitem-list-container {
    display: none;
  }

  .navlogo {
    width: 45cqw;
  }
}
