.navbar-container {
  position: fixed;
  z-index: 99;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: -1;
  height: calc(6.5vw - 1vh);
  padding: 0 min(53px, 5vw) 0 min(97px, 3vw);

  transition: background-color 500ms;
}
.navbar-Dark {
  background: rgba(117, 117, 111, 0.29);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
}
.navbar-Light {
  background: rgba(246, 244, 226, 0.76);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
}

.navlogo {
  width: min(350px, 18vw);
  height: 74px;
  margin-left: min(40px, 2vw);
  object-position: center;
  object-fit: scale-down;
}
.navitem-list-container {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(910px, 47vw);
}
.navitem {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: min(28px, calc(0.8vw + 0.4rem));
  text-align: center;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}

.navitem-Light-active {
  color: #6c4e22;
  font-weight: 700;
}
.underline {
  bottom: max(-8px, -1vw);
  position: absolute;
  width: 60%;
  border-radius: 10px;
}
.underline-Light {
  border: 1.4px solid #6c4e22;
}
.underline-Dark {
  border: 1.4px solid #c7c7c7;
}
.navitem-Light {
  color: #000000;
}
.navitem-Dark {
  color: white;
}

.navitem-Dark-active {
  color: #fcf5da;
  font-weight: 700;
}
.navitem-lastChild {
  border-radius: min(13px, 1vw);
  font-weight: 500;
  font-size: min(28px, calc(0.8vw + 0.4rem));
  padding: min(18px, 1vw);
}
.navitem-lastChild-Light {
  background: #6c4e22;
  color: white;
}
.navitem-lastChild-Dark {
  background: #ab9473;
  color: black;
}

.hamburger-wrapper {
  height: 28px;
  width: 28px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  transform-origin: center;
  position: absolute;
  right: 7%;
  display: none;
}

.line {
  width: 100%;
  transform-origin: center;
  transition: all 500ms;
}
.mobileNav-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 80%;
  background-color: #3f3526ea;
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
}
.mobileNav-items-wrapper {
  border: solid rgb(0, 21, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70%;
}
.mobNav-item {
  font-size: min(1.2em, 5vw);
  display: flex;
  align-items: center;
  height: min(3.5em, 16vw);
}
.mobNav-icon {
  display: inline-block;
  width: 1.8em;
  align-content: center;
  margin-left: 1.7em;
}

.mobNav-icon svg path {
  fill: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
}

.mobNav-title {
  display: inline;
  font-family: "Inter";
  font-size: 1.5em;
  color: white;
  width: 100%;
  margin-left: 0.8em;
}
@media screen and (max-width: 703px) {
  .navbar {
    height: min(57px, 54px);
    align-items: center;
  }
  .hamburger-wrapper {
    display: flex;
  }

  .navitem-list-container {
    display: none;
  }

  .navlogo {
    width: 100%;
    height: min(12.95px, 3vw);
    object-position: center;
  }
}
