@font-face {
  font-family: "TT Wellingtons Trl";
  src: url("./assets/Fonts/TTWellingtonsTrialBold.woff2") format("woff2");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: "Open Sauce Sans";
  src: url("./assets/Fonts/OpenSauceOne-Light.woff2") format("woff2");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: "Open Sauce Sans";
  src: url("./assets/Fonts/OpenSauceOne-Bold.ttf");
  font-display: swap;
  font-weight: bold;
  font-style: normal;
  unicode-range: U+000-5FF;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}
.App {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 50px;
  position: relative;
}
.landingpage-container {
  background: linear-gradient(
    89.86deg,
    #f5f3e1 44.66%,
    rgba(245, 243, 225, 0) 188.92%
  );
  height: 100vh;
  box-shadow: 1px 6px 15px rgba(119, 119, 119, 0.64);
  overflow: hidden;
  height: 93vh;
  position: relative;
  display: flex;
  align-items: center;
}
.image-1 {
  width: 80%;
  object-fit: fill;
  float: right;
  position: relative;
  right: -20vw;
  display: inline;

  z-index: -1;
}

.landingtitle-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 3vh 32% 0 6%;
}
.landingtitle {
  font-size: min(7rem, calc(4.3vw + 0.8vh));
  font-family: "TT Wellingtons Trl";
  color: #323232;
}
.landingPage-title {
  color: #000;
  font-family: Open Sauce Sans;
  font-size: min(39px, calc(2vw + 0.9vh));
  font-style: normal;
  font-weight: 400;
  margin-top: min(140px, calc(7.2vw - 1.3vw));
}
.prayerWidget-container {
  height: min(135px, 7vw);
  display: flex;
  align-items: center;
  background-color: #f5f3e1;
  box-shadow: 0px 0px 18px -7px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 0px 18px -7px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 18px -7px rgba(0, 0, 0, 0.8);
}

.aboutus-container {
  background-color: #c3bead;
  height: 95vh;
  display: flex;
  width: 100%;
  position: relative;
  z-index: -2;
  overflow: hidden;
}
.aboutImagebox-container {
  position: absolute;
  z-index: -1;
  opacity: 1;
  top: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 100vh;
  transform-style: preserve-3d;
}

.aboutusImg1,
.aboutusImg2,
.aboutusImg3 {
  position: relative;
}

.aboutusImg1 {
  width: calc(min(770px, 40vw));
  transform: translateZ(-15px) scale(1.3);

  height: calc(555px);
  rotate: -22.32deg;
  right: 9.5%;
  top: 14%;
}
.aboutusImg2 {
  width: calc(min(533px, 28vw));
  height: calc(555px);
  rotate: -3.66deg;
  right: -6%;
  bottom: 14%;
}
.aboutusImg3 {
  width: calc(min(770px, 40vw));
  transform: translateZ(-15px) scale(1.3);
  height: calc(555px);
  rotate: 7.57deg;
  right: 25%;
  bottom: 18%;
}
.contentbox-container {
  display: flex;
  width: 70%;
  align-items: center;
  padding-left: 10vw;
}
.ourmission-container {
  background: #f5f3e1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
.card-container {
  display: flex;
  flex-direction: row;
  width: 90vw;
  justify-content: space-evenly;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: min(417px, 25vw);
  width: 23%;
  background: #e4e3d3;
  border-radius: 10%;
  justify-content: space-evenly;
  padding: clamp(0vw, 40px, 1.7vw);
}
.cardLogo {
  border-radius: 50%;
  /* padding: min(15px, 1.5vw);
  width: min(110px, 8.5vw);
  height: min(110px, 8.5vw); */

  border-radius: 50%;
  padding: min(15px, 1vw);
  width: min(110px, 7.5vw);
  height: min(110px, 7.5vw);
}
.card-postTitle {
  font-family: "TT Wellingtons Trl";
  font-style: normal;
  font-weight: 800;
  font-size: min(36px, 2.2vw);
  line-height: 50px;
  text-align: center;
}
.card-heading {
  font-family: "Open Sauce Sans";
  font-style: normal;
  font-weight: 400;
  font-size: min(21px, 1.4vw);

  text-align: center;
  color: #000000;
}

.membership-container {
  height: 110vh;
  background: #343431;
  display: flex;
  align-items: center;
  background-image: url("https://ik.imagekit.io/ytjlb3rhi/assets/Membership-image.png?updatedAt=1689504714904");
  background-position: 125%;
  background-repeat: no-repeat;
  background-size: contain;
}
.benefit-container {
  height: min(484px, 21vw);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}
.membershipInfo-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: min(115px, 6vw);
  background-color: rgba(38, 38, 36, 0.84);

  border-radius: min(20px, 1.5vw);
}
.membershipInfo-logo {
  width: min(63px, 3.5vw);
  height: min(63px, 3.5vw);
  margin-left: 25px;
}
.membershipInfo-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: min(30px, 1.7vw);
  margin-left: min(35px, 1.5vw);
  display: flex;
  align-items: center;
  white-space: nowrap;
  color: #ffffff;
}
.iphoneImage-container {
  position: relative;
  flex-grow: 1;
  height: 60vw;
  right: 0;
  object-fit: cover;
}
.ourvalues-container {
  background: #f5f3e1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hexagons-main-container {
  background-image: url("https://ik.imagekit.io/ytjlb3rhi/assets/OurvalueImage.png?updatedAt=1689504714751");
  background-repeat: no-repeat;
  background-position-x: min(1700px, 77vw);
  background-position-y: 70px;
  background-size: contain;
  display: flex;
  flex-direction: column;
}
.hexagon-container-1,
.hexagon-container-2,
.hexagon-container-3 {
  display: flex;
  justify-content: center;
}
.hexagon-container-2,
.hexagon-container-3 {
  margin-top: max(-45px, -3vw);
}

.hexagon-hidden,
.hexagon {
  height: min(300px, 24vw);
  width: min(300px, 24vw);
}
.hexagon {
  background-image: url("https://ik.imagekit.io/ytjlb3rhi/assets/Hexagon.svg?updatedAt=1689504714696");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hexagon-hidden {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ourValueSvg {
  width: 100%;
  height: 100%;
}
.hexagon-title {
  font-family: "TT Wellingtons Trl";
  font-style: normal;
  font-weight: 700;
  font-size: min(30px, 2vw);
  width: 59%;
  text-align: center;
  z-index: 1;
}
.hexagon-svg {
  position: absolute;
  width: min(200px, 12vw);
  height: min(200px, 12vw);
}
.hexagon-utmslogo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.utsMuslim {
  height: 100%;
  width: 100%;
}
.quotes-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(
    89.38deg,
    #aa9473 65.87%,
    rgba(170, 148, 115, 0) 228.39%
  );
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.quotesContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 600px;
  padding-left: min(120px, 6vw);
}
.intro {
  font-family: "Noto Sans Arabic", sans-serif;
  font-style: normal;
  font-weight: 00;
  font-size: min(38px, 3vw);
  display: flex;
  line-height: min(100px, 5vw);
  align-items: center;
}
.quote {
  font-family: "Marcellus";
  font-style: normal;
  font-weight: 400;
  font-size: min(75px, 3.5vw);
  display: flex;
  align-items: center;
}
.origin {
  font-family: "Open Sauce Sans";
  font-style: normal;
  font-weight: 400;
  font-size: min(31px, 2.4vw);
  display: flex;
  line-height: min(100px, 7vw);
  align-items: center;
  text-align: center;
  text-overflow: ellipsis;
}
.arabicCalligraphy {
  margin-top: -150px;
  object-position: 100px;
  height: 40vw;
  width: min(2500px, 130vw);
}
.quotesimage {
  background-image: url("https://ik.imagekit.io/ytjlb3rhi/assets/QuotesImage.png?updatedAt=1689504714946");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.footer-container {
  height: min(850px, 45vw);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background: #3f3526;
}

.joinUs-container {
  width: min(1507px, 83vw);
  height: min(141px, 8vw);
  background: #000000;
  padding-inline: min(90px, 5vw);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 7px 11px rgba(0, 0, 0, 0.75);
  border-radius: 70.5px;
  position: relative;
  top: -24%;
}
.joinUs-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: min(40px, 2vw);
  color: white;
}
.footer-section-container {
  display: flex;
  justify-content: space-between;
  padding-inline: min(130px, 6vw);
  width: 100%;
  margin-top: -100px;
}
.UtsmuslimFooterLogo {
  width: min(501px, 25vw);
  height: min(97.03px, 6vw);
  margin-top: min(-40px, -2vw);
}
.followUs {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: min(36px, 2vw);
  color: white;
}
.footer-section-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: min(385px, 26vw);
}
.footer-section-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: min(700px, 36vw);
}
.socialMedia-container {
  display: flex;
  justify-content: space-around;
  width: min(275px, 20vw);
}
.socialMediaLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: min(52px, 3vw);
  width: min(52px, 3vw);
  padding: min(13px, 0.8vw);
  cursor: pointer;
  background: #ab9473;
  border-radius: 50%;
  transition: 0.3s ease-in;
}
.socialMediaLogo:hover {
  background: #f0d2a8;
}

.link-container {
  display: flex;
  flex-direction: column;
}
.Link-title,
.Link {
  font-size: min(29px, 1.2vw);
  line-height: min(75px, 3.5vw);
}
.Link-title {
  font-family: "Inter";
  font-weight: 700;
  color: white;
  cursor: default;
}
.Link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
}
.Link:hover {
  text-decoration: underline;
}

.Services-Card1-logo {
  display: flex;
  width: 100%;
  height: 100%;
}
.Services-Card3-logo {
  display: flex;
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

/*
------------------------------------| 
**********************************  |
  TABLET VIEW                       |
**********************************  |
------------------------------------|  
*/
@media screen and (width <= 1280px) and (orientation: portrait) {
  .landingpage-container {
    height: 97vh;
  }
  .landingtitle-container {
    padding: 0;
    /* margin: 40vh 0 0 6vw; */
    padding-inline: 15%;
    text-align: center;
  }
  .contentbox-container {
    width: 100%;
    padding: 0;

    justify-content: center;
  }

  .image-1 {
    width: 100%;
    height: 100%;
  }

  .card-container {
    width: 96%;
    margin-top: 5vh;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 7px;
    row-gap: 7px;
    justify-items: center;
    justify-content: center;
  }
  .card {
    width: calc(38.5vw / 1.3);
    height: calc(44vw / 1.3);
    /* width: 200px;
    height: 200px; */
  }
  .card-postTitle {
    font-size: min(23px, 3vw);
  }
  .card-heading {
    font-size: min(14px, 2vw);
  }
  .aboutusImg2 {
    display: none;
  }
  .aboutusImg1 {
    width: calc(min(770px, 45vh));
    height: min(435px, 32vh);
    transform: translateZ(-15px) scale(1.3);
    rotate: -22.32deg;
    right: -17.5%;
    top: 33%;
  }
  .aboutusImg3 {
    width: calc(min(770px, 46vh));
    height: min(470px, 32vh);
    transform: translateZ(-15px) scale(1.3);
    rotate: 7.57deg;
    right: calc(74vw - 8vh);
    bottom: 34%;
  }
  .iphoneImage-container {
    display: none;
  }

  .quotesContent {
    padding: 0;
  }
  .quotes-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    background: linear-gradient(
      360deg,
      #aa9473 49.87%,
      rgba(170, 148, 115, 0) 173.39%
    );
  }
  .quotesContent {
    /* outline: solid red; */
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    height: 35%;
    padding-inline: 10vw;
    margin-top: 30vh;
  }
  .arabicCalligraphy {
    margin: 0;
    object-position: 0;
    position: absolute;
    top: 0;
    /* border: solid red; */
    height: 45vh;
    width: 50vw;
  }
  .quotesimage {
    background-size: cover;
    height: 100%;
  }
  .quote {
    font-size: min(75px, 3.5vw);
  }

  .benefit-container {
    width: 60%;
  }
  .membership-container {
    background-size: calc(50vh + 50vw);
    background-position: -17vw 14vh;
  }
}
/*
------------------------------------| 
**********************************  |
  MOBILE VIEW                       |
**********************************  |
------------------------------------|  
*/

@media screen and (max-width: 703px) {
  .landingpage-container {
    height: 798px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .image-1 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: right;
    left: 150px;
  }
  .landingtitle-container {
    padding-inline: 20%;
  }
  .landingtitle {
    text-align: center;
    font-size: min(2.05rem, 8vw);
    line-height: 1.3;
  }
  .landingPage-title {
    text-align: center;
    font-size: min(0.83rem, 4vw);
  }
  .prayerWidget-container {
    display: grid;

    height: min(65px, 16vw);
    overflow-x: scroll;
  }
  .ourmission-container {
    /* position: relative;
   */
    justify-content: start;
  }
  /* .card-container {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 7px;
    row-gap: 7px;
    justify-items: center;
    justify-content: center;
  } */
  /* .card {
    width: 38.5vw;
    height: 44vw;
    padding-block: 2vh;
    padding-inline: 3vw;
  } */

  .card {
    width: 38.5vw;
    height: 44vw;
    padding-block: 3vh;
    padding-inline: 4vw;
  }

  .cardLogo {
    padding: min(6px, 1vh);
    height: 12vw;
    width: 12vw;
  }
  .card-postTitle {
    display: contents;
    font-size: min(13px, 5vw);
    line-height: 3;
  }
  .card-heading {
    font-size: 2.4vw;
  }
  .membership-container {
    align-items: start;
  }
  .benefit-container {
    width: 85%;
    height: 20vh;
    justify-content: space-around;
  }
  .membershipInfo-container {
    height: 6vh;
  }
  .membershipInfo-logo {
    width: 7vw;
    height: 7vw;
    margin-left: 4vw;
  }
  .membershipInfo-title {
    font-size: 3vw;
    margin-left: 3vw;
  }
  .membership-container {
    background-size: calc(56vh + 66vw);
    background-position: -28vw 26vh;
  }
  .ourvalues-container {
    justify-content: start;
  }
  .hexagon-hidden,
  .hexagon {
    height: 30vw;
    width: 30vw;
  }
  .hexagon-svg {
    height: 15%;
    width: 15%;
  }
  .hexagon-title {
    font-size: (1rem, 2.5vw);
  }
  .quotes-container {
    outline: solid red;
    justify-content: space-between;
    padding-block-end: calc(29vh - 26vw);
  }
  .arabicCalligraphy {
    /* position: static; */
    height: 40vh;
    width: calc(59% + 2vh + 2vw);
  }
  .quotesContent {
    height: 60vw;
    margin: 0;
    justify-content: space-between;
  }
  .intro {
    font-size: 4.5vw;
  }
  .quote {
    font-size: 5.5vw;
    /* width: 80%; */
  }
  .origin {
    font-size: 3.8vw;
  }
}
