.servicesLanding-container {
  background-color: #f5f3e1;
  font-size: clamp(6em, 8.4vw, 20em);
  height: clamp(7em, 120vh, 10em);
  display: flex;
  justify-content: space-between;
}
.servicesLanding-image-container {
  width: 80%;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: -0.8em;
}

.frame,
.leaves {
  position: absolute;
}
.frame {
  width: 7em;
}
.leaves {
  width: 3em;
  object-position: -4px -80px;
}
.contentBox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.contentBox-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: right;
  padding-inline-end: 0.58em;
}
.Title {
  color: #323232;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 0.63em;
}
.Paragraph {
  color: #323232;
  font-family: Open Sauce Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 0.26em;
  margin-top: 2.325em;
}

/*
------------------------------------| 
**********************************  |
  TABLET VIEW                       |
**********************************  |
------------------------------------|  
*/
@media screen and (width <= 1280px) and (orientation: portrait) {
  .servicesLanding-container {
    height: 90vh;
    min-height: 12em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* outline: 0.5rem solid red; */
  }
  .servicesLanding-image-container {
    height: 70%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 35px;
  }

  .frame {
    object-position: 52px 35px;
  }
  .leaves {
    left: 0;
    width: 3.5em;
    object-position: -52px;
  }

  .contentBox-wrapper {
    padding: 0;
    height: 100%;
    width: 60%;
    justify-content: space-around;
    width: 100%;
    padding-inline: 1em;
  }

  .Title,
  .Paragraph {
    text-align: center;
  }
}
/*
------------------------------------| 
**********************************  |
  MOBILE VIEW                       |
**********************************  |
------------------------------------|  
*/
@media screen and (max-width: 703px) and (orientation: portrait) {
  .servicesLanding-image-container {
    margin-top: 0;
  }
  .contentBox-wrapper {
    padding-inline: 0.6em;
  }
  .frame {
    width: min(5.6em, 120vw);
  }
  .leaves {
    width: min(3em, 68vw);
  }
  .Title {
    font-size: 0.282em;
  }
  .Paragraph {
    font-size: 0.143em;
  }
}
